body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.legend-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.legend {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #1e1e1e;
}
th, td {
    padding: 8px;
    text-align: left;
    width: 33%; /* Set equal width for each column */
    border-bottom: 1px solid #333;
}
th {
    background-color: #333;
}
th, td {
    border: none; /* Remove the border from table rows and columns */
}
th:nth-child(1), td:nth-child(1) {
    width: 15%; /* Set smaller width for the first column */
}
th:nth-child(2), td:nth-child(2) {
    width: 65%; /* Set larger width for the second column */
}
th:nth-child(3), td:nth-child(3) {
    width: 20%; /* Set default width for the third column */
} 
th:nth-child(4), td:nth-child(4) {
    width: 15%; /* Set default width for the third column */
}  
.problem-link {
    text-decoration: none;
    color: inherit;
}
.problem-link:hover {
    text-decoration: underline;
}
.problem-link.green-bg {
    color: #4caf50;
}

.problem-link.red-bg {
    color: #f44336;
}
